{% extends "teachers/teacher_base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

  <div class="container">
    <div class="jumbotron">

      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}

        <h1>Register Here</h1>
        <h3>Fill up Teacher registration form</h3>

        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {% bootstrap_form teacher_form %}
          {% bootstrap_form teacher_profile_form %}

          <input type="submit" name="" value="Register">
        </form>

      {% endif %}

    </div>

  </div>

{% endblock %}
