{% extends "base.html" %}

{# at the terminal, run pip install django-bootstrap4 #}
{% load bootstrap4 %}

{% block body_block %}
<section  id="steps" class="steps section-bg">

  <div class="container jumbotron">
    <h1>Login</h1>
    <form method="POST" class="form">
      {% csrf_token %}
            {# A more "HTML" way of creating the login form#}
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Username">
            <br><br>
            <label for="password">Password:</label>
            <input type="password" name="password">
            <br><br>
            <input type="submit" name="" value="Login">
    </form>
  </div>

<div class="container">
  <h5>If you aren't a registered student or teacher, please go to registration
    page to complete your registration.
  <a style="text-decoration:underline;" href="{% url 'registration_options' %}">Registration</a> </h5>

</div>
</section>
{% endblock %}
