{% extends "departments/department_base.html" %}

{% block content %}


<section id="steps" class="steps section-bg">
  <div class="container jumbotron">
    {% if department_list.count == 0 %}
      <h4>No departments created till now. This site is under construction.</h4>
    {% else %}
      <h4>Welcome to All department page of UIC</h4>
      <h5>Number of departments : {{department_list.count}}</h5>
  </div>

  <div class="container">

    {% for department in department_list %}
      <hr>
      <ul>

        <li> <h4>Department: <a href="{% url 'departments:department_detail' faculty_slug=department.faculty.faculty_slug department_slug=department.department_slug %}"> {{department.name}}</h2></a> </li>
        <ul>
          <li> <h6> Chairman : {{department.chairman}} </h3> </li>
          <li><h6>Faculty : {{department.faculty.name}}</h2> </li>
          <li><h6>Total teachers in {{department.name}} : {{department.teachers.count}} </h2></li>
          <li><h6>Total students in {{department.name}} : {{department.students.count}} </h2></li>
          <li> <h6>Established at: {{department.established_date}}</h2> </li>
        </ul>

      </ul><hr>
    {% endfor %}
  </div>
{% endif %}

</section>


{% endblock %}
